<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/styles.css">
    <header>
        <div class="container">
            <img src="../static/bs3.jpg" alt="">
        </div>
    </header>

    <body>
        <div class="topbar container">	
            <div class="selectlist">
                <select name="test" id="test">
                    <option value="null">
                        bitte auswählen
                    </option>
                </select>  
            </div>
            <div class="icons">
                <a href="">
                    <img src="../static/icon_add.png" alt="icon_add" width="32" height="32">
                </a>
                <a href="">
                    <img src="../static/icon_trash.png" alt="icon_trash" width="32" height="32">
                </a>
                <a href="">
                    <img src="../static/icon_print.png" alt="icon_print" width="32" height="32">
                </a>
            </div>
        </div>
        <div class="overview container ">
            <table style="width:100%">
                <tr>
                    <th class="interactive">K</th>
                    <th class="interactive">S</th>
                    <th>id</th>
                    <th>vorname</th>
                    <th>nachname</th>
                    <th>klasse</th>
                    <th>Kennzeichen</th>
                    <th>Gesperrt?</th>
                    <th>Verwarnung</th>
                    <th>Notizen</th>
                </tr>
                <tr>
                    <td class="interactive">h</td>
                    <td class="interactive">h</td>
                    <td>h</td>
                    <td>h</td>
                    <td>h</td>
                    <td>h</td>
                    <td>h</td>
                    <td>h</td>
                    <td>h</td>
                    <td>h</td>
                </tr>
            </table>
        </div>     
    </body>


</html>