<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="icon" href="../../bilder/bs3.jpg">
    <title>BS3 - Neues Passwort</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../../bilder/bs3.jpg" alt="Logo">
      </div>
    </header>
    <div class="container">
      <h1>Password Reset</h1>
      <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Send Reset Password Link</button>
      </form>
    </div>
  </body>
</html>


