body {
    font-family: 'Open Sans', sans-serif;
  }

.container{
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.topbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 5px 2% 5px 2%;
    margin-top: 25px;
}

.searchbar {
    margin-top: 2px;
    
}

input {
    line-height: 22px;
    border-radius: 4px;
    /*background: url("../static/icon_add.png") no-repeat left;*/
    background-size: 20px;
}

.selectlist {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    flex-grow: 1;
}

.selectlist select {
    height: 32px;
    border-radius: 4px;
}

.icons a {
    text-decoration: none;
}

.overview {
    border: 2px solid black;
}

th {
    text-align: left;
}

.interactive {
    text-align: center;
}
.anmeldeprozess {
    max-width: 95%;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    margin: 0px auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  }