.container{
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.topbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 5px 5px 5px 5px;
    margin-top: 25px;
}

.searchbar {
    margin-top: 2px;
    
}

input {
    line-height: 22px;
    border-radius: 4px;
    background: url("../static/icon_add.png") no-repeat left;
    background-size: 20px;
}

input :active {
    
}

.selectlist {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    flex-grow: 1;
}

.selectlist select {
    height: 32px;
    border-radius: 4px;
}

.icons a {
    text-decoration: none;
}

.icons img{
    background-color: red;
}

.overview {
    border: 2px solid black;
}

th {
    text-align: left;
}

.interactive {
    text-align: center;
}