<!DOCTYPE html>
<html lang="de">
  <link rel="stylesheet" href="../static/styles.css">
  <head>
    <link rel="icon" href="../../bilder/bs3.jpg">
    <title>BS3 - Neues Passwort</title>
  </head>
  <body>
    <header>
      <img src="../../bilder/bs3.jpg">
    </header>
    <p>Bitte wählen Sie ein neues Passwort <br>und speichern Sie es anschließend.</p>
    <form>
      <label for="password">Neues Passwort:</label>
      <input type="textfeld" id="password" name="password" required>
      <br>
      <label for="confirm-password">Passwort bestätigen:</label>
      <input type="textfeld" id="confirm-password" name="confirm-password" required>
      <br>
      <input type="submit" value="Passwort speichern">
    </form>
    
  </body>
</html>