<!DOCTYPE html>
<html lang="de">
  <link rel="stylesheet" href="../static/styles.css">

  <head>
    <link rel="icon" href="../../bilder/bs3.jpg">
    <title>BS3 - Login</title>
  </head>
  
  <body>

    <header>
      <div></div>
      <div class="logo" style="height: auto;">
        <img class="logo-item-schule" src="../../bilder/bs3.jpg" alt="BS3">
        <img class="logo-item-stadt" src="../../bilder/stadt.png" alt="Stadt Regensburg">
      </div>
      <div></div>
    </header>

    <form class="anmeldeprozess">
      <h1>BS3 - Login</h1>
      <p>Bitte melden Sie sich mit Ihrer E-Mail-Adresse und Passwort an.</p>
      <br>
      <label for="email">E-Mail-Adresse:</label>
      <input type="textfeld" id="email" name="email" required>
      <br>
      <label for="password">Passwort:</label>
      <input type="textfeld" id="password" name="password" required>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="forgot-password-link">Passwort vergessen?</a>
      <br>
      <input type="submit" value="Login">
    </form>
    
  </body>
</html>